/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

.navbar {
    background-color: rgb(20, 20, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgb(134, 130, 130, 0.4);
    padding: 0 10px;
}

ul {
    list-style-type: none;
    display: flex;
}

.li {
    padding: 6px 6px;
    margin: 0 4px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.navbar__li-center {
    background-color: #033a5f;
    padding: 4px 8px;
}

.navbar__li-center:hover {
    background-color: #3498db;
}

.navbar__search {
    position: relative;
}

/* placing search icon inside input field */
.search-icon {
    padding-right: 4px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
}

.search {
    padding: 6px;
    width: 12rem;
    border: 2px solid #3498db;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    transition: width 0.3s;
    font-size: 0.9rem;
}

.search:focus {
    width: 20rem;
}

.li i {
    font-size: 1.4rem;
    padding: 4px;

}

.li i:hover {
    color: #3498db;
}

.navbar__bar-icon {
    display: none;
}


/* media queries */

@media only screen and (max-width: 900px) {
    .navbar__li-center {
        border-radius: 2px;
    }

    .center {
        display: none;
        padding: 4px 0;
        border-radius: 2px;
    }

    .search {
        width: 10rem;
    }

    .navbar__bar-icon {
        display: block;
    }

    .show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 43px;
        background-color: rgb(20, 20, 40);
        width: 6rem;
        box-shadow: 0 5px 10px rgb(134, 130, 130, 0.4);
        z-index: 1;
    }
}

@media only screen and (max-width:500px) {
    .search:focus {
        width: 10rem;
    }
}